@import "tailwindcss";
@plugin "daisyui";

@import "./components/buttons.css" layer(components);
@import "./components/forms.css" layer(components);

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-foreground: oklch(0.12 0 0);
    --color-card--001: oklch(0.16 0 0);
    --color-primary: oklch(0.65 0.15 160);
    --color-primary-foreground: oklch(0.12 0 0);
    --color-border: oklch(0.24 0 0);
    --color-input: oklch(0.32 0 0);
    --color-muted-foreground: oklch(0.6 0 0);

    --color-footer-foreground: oklch(0.6 0 0);

    --color-btn-gradient-start: #ffffff;
    --color-btn-gradient-end: #9ca3af;
}
