button {
    cursor: pointer;
}

@keyframes shine {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.btn {
    background-image: linear-gradient(to right, var(--color-btn-gradient-start), var(--color-btn-gradient-end));
    border-radius: var(--radius-xl);
    color: var(--color-primary-foreground);
    padding-inline: calc(var(--spacing) * 3);
    font-size: var(--text-sm);
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    height: calc(var(--spacing) * 8);
    line-height: calc(var(--spacing) * 8);
    display: inline-block;
}


.btn.btn-outlined {
    background: transparent;
    border: 1px solid var(--color-border);
    border-color:  #16181b;
    color: var(--color-foreground);
}

.btn.btn-outlined:hover {
    /* background: color-mix(in srgb, black 25%, var(--color-input)); */
    background-image: linear-gradient(to right, oklch(0.65 0.15 160), oklch(0.65 0.15 220));
    color: var(--color-primary-foreground);
    border-color: var(--color-primary-foreground);
}

.btn.btn-ghost {
    background: transparent;
}

.btn:has(> svg) {
    display: flex;
    align-items: center;
    column-gap: calc(var(--spacing) * 2);
}

.btn:hover:not(.btn-ghost) {
    background-image: linear-gradient(to right, oklch(0.65 0.15 160), oklch(0.65 0.15 220));
    text-decoration: none;
}

.btn.btn-ghost:hover {
    background: var(--color-ghost-hover, rgba(0, 0, 0, 0.05));
}
